label {
  display: block;
  position: relative;
  height: 2rem;
  width: 4rem;
  margin-right: 2rem;
  background-color: var(--color-grey);
  border-radius: 1rem;
  cursor: pointer;
  transition: all 0.3s;

  &::after {
    content: "";
    position: absolute;
    height: 1.4rem;
    width: 1.4rem;
    background-color: var(--color-white);
    border-radius: 50%;
    top: 0.3rem;
    left: 0.3rem;
    transition: all 0.3s;
  }
}

input {
  height: 0;
  width: 0;
  visibility: hidden;

  &:checked + label {
    background-color: var(--color-purple);
  }

  &:checked + label::after {
    left: 3.7rem;
    transform: translateX(-100%);
  }
}